* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pt50 {
  padding-top: 50px;
}

.pt75 {
  padding-top: 75px;
}

.pt100 {
  padding-top: 100px;
}

.pt150 {
  padding-top: 150px;
}

:root {
  --dark-green: #06945b;
  --light-green: #68e5a2;
  --yellow: #fae053;
  --orange: #f1b280;
  --blue: #395be0;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  padding: 2rem 4rem;
}

.container {
  margin-left: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

nav ul {
  display: flex;
}

nav ul li,
nav ul li:not(:last-child) {
  list-style: none;
  padding-right: 16px;
}

nav ul li a,
nav ul li:not(:last-child) a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  font-size: 15px;
}

.nav .logo svg {
  width: 100px;
  margin-right: 40px;
}

.nav .nav-left {
  display: flex;
}

.nav .nav-right {
  display: flex;
}

.nav .nav-right a.btn-get-started, .nav .nav-right a.btn-req {
  text-decoration: none;
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  color: #fff;
}

.nav .nav-right a.btn-get-started {
  background-color: #ccc;
  color: #111;
  font-weight: 500;
}

.nav .nav-right a.btn-req {
  background-color: #111;
}

section.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.hero h1 {
  font-family: "Volkhov", sans-serif;
  font-size: 65px;
  font-weight: normal;
  margin-top: 150px;
}

section.hero p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 20px;
  text-align: center;
}

section.hero .hero-img-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.hero .hero-img-wrapper img {
  width: 60%;
}

section.hero a.hero-btn {
  width: 320px;
  height: 100px;
  background-color: var(--dark-green);
  color: #fff;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #111;
  border-radius: 20px;
  margin-top: 25px;
}

section.hero span {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-top: 10px;
}

/*  hero */
/* ====== Section - Thumbnail-wrapper ====== */
.thumbnail-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 200px;
  place-items: center;
}

.thumbnail-wrapper .card .img-thumbnail {
  width: 80px;
}

.thumbnail-wrapper .card p {
  font-size: 0.7em;
}

/* ====== Section - Sell Anywhere ====== */
section.sell__anywhere {
  padding-top: 70px;
}

section.sell__anywhere h4 {
  font-family: "Volkhov", sans-serif;
  font-size: 45px;
  font-weight: normal;
}

section.sell__anywhere p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 20px;
}

section.sell__anywhere button.sell__anywhere__button {
  background-color: #FFC599;
  padding: 10px 60px;
  border-radius: 40px;
  border: 2px solid #111;
}

/* ====== Sell Anywhere ====== */
.sell__anywhere__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sell__anywhere .sell__fi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.sell__anywhere .sell__fi p {
  font-size: 0.8rem;
}

.sell__anywhere .sell-fb h4, .sell__anywhere .sell-ins h4 {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

/*  sell__anywhere */
/*# sourceMappingURL=main.css.map */